@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
body {
    /* Местоположение фоновой картинки */
    background-image: url(http://www.kartinki.me/pic/201208/2560x1440/kartinki.me-5977.jpg);
    /* Фоновое изображение выровнено по центру в горизонтальной и вертикальной плоскостях */
    background-position: center center;
    /* Фон не повторяется */
    background-repeat: no-repeat;
    /* Фон зафиксирован в области просмотра и потому не двигается, когда высота контента превышает высоту изображения */
    background-attachment: fixed;
    /* Это свойство заставляет фон менять масштаб при изменении размеров содержащего его контейнера*/
    background-size: cover;
    /* Цвет фона, который будет отображаться при загрузке фоновой картинки*/
    background-color: #464646;
}
.fakeimg {
    height: 200px;
    background: #aaa;
}
.carousel-item img {
    height: 300px;
}
.footer{

}